.home-page {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	display: flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	background: #000;

	.slide-fade-enter-active,
	.slide-fade-leave-active {
		transition: all 1s cubic-bezier(0.65, -0.01, 0.01, 1);
	}

	.slide-fade-enter-from,
	.slide-fade-leave-to {
		transform: translateY(-100vh);
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.8s ease;
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
	}

	& &__start-overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #000;
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 24px;

		&--hidden {
			display: none;
		}
	}

	& &__overlay-icon {
		width: 200px;
		height: auto;
		opacity: 0;
		transition: all 1s ease-in;

		&.active {
			opacity: 1;
		}
	}

	& &__overlay-progresbar {
		height: 2px;
		width: 100%;
		// background-color: #4e4e4e;
		position: relative;
		overflow: hidden;
	}

	& &__overlay-progresbar-status {
		width: 0;
		height: 100%;
		background-color: #ff3e3e;
		position: absolute;
		top: 0;
		left: 0;
	}

	// 	.swiper-slide-visible{
	// 		animation-name: fadeIn;
	// 		animation-duration: 10s ;
	// 		animation-fill-mode: forwards;
	// 		animation-timing-function: linear;
	// 		animation-iteration-count: 1;

	// 		@keyframes fadeIn {
	// 			0% {
	// 				-webkit-transform: scale(1);
	// 				transform: scale(1);
	// 			}

	// 			100% {
	// 				-webkit-transform: scale(1.2);
	// 				transform: scale(1.2);
	// 			}
	// 		}
	// 	}

	& &__background {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 0;
	}

	.swiper {
		width: 100vw;
		height: 100vh;
	}

	.swiper-slide {
		transition-duration: 4s !important;
		display: block;
		width: 100%;
	}

	.swiper-slide img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 30s;
		
		&.active{
			transform: scale(1.3);
		}
	}
}
