.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	height: fit-content;
	width: 100%;
	padding: 0 16px;
	padding-top: 16px;
	gap: 32px;
	position: relative;
	background: #222222;

	&__content {
		flex: 1 1 auto;
	}

	&__nav {
		top: 16px;
		position: sticky;
		position: -webkit-sticky;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
		padding: 12px;
		border-radius: 12px;
		background: #131313;
		z-index: 1;
	}

	&__cat-button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6px 12px;
		background: transparent;
		border: none;
		border-radius: 6px;
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover,
		&.active {
			background: #403c3c;
		}
	}

	&__category-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 16px;
		width: 100%;
	}

	&__cat-title {
		padding: 32px;
		align-self: center;
		text-align: center;
		font-size: 36px;
		line-height: 1.4em;
		width: 100%;
		color: #fff;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		gap: 16px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid #403c3c;
		border-radius: 6px;
		flex: 0 0 32%;
		padding: 16px;
		background-color: #0f0f0f;
		color: #fff;
	}

	&__item-image {
		width: auto;
		height: 200px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px;
		}
	}

	&__item-name {
		font-size: 18px;
		line-height: 1.4em;
		font-weight: 500;
		margin-top: 32px;
	}

	&__item-separator {
		width: 100%;
		height: 1px;
		background: #403c3c;
		margin-block: 8px 16px;
	}

	&__item-desc {
		font-size: 16px;
		line-height: 1.4em;
		text-align: center;
	}

	&__item-price-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 32px;
		width: 100%;
	}

	&__item-price-controls {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 16px;
		width: auto;
		position: relative;
		width: 100%;

		&.additional-price {
			padding-top: 32px;
		}
	}

	&__item-price-portion {
		position: absolute;
		text-align: center;
		width: 100%;
		top: 16px;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__item-price {
		font-size: 22px;
		line-height: 1.4em;
		font-weight: 500;
		align-self: center;
		color: #ee344b;
	}

	&__amount-controls {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 4px;

		svg {
			padding: 1px;
			border: 1px solid #ee344b;
			border-radius: 2px;
		}
	}

	&__item-add-button {
		margin-top: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6px 12px;
		border-radius: 100px;
		background: #ee344b;
		min-width: 200px;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.4em;
		position: relative;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover {
			background: #f51c35;
		}

		span {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(50%, -50%);
			width: 21px;
			height: 20px;
			background: #403c3c;
			border-radius: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			font-size: 12px;
			line-height: 1em;
			letter-spacing: 0.04em;
			color: #ffffff;
		}
	}

	&__right-bar {
		top: 16px;
		position: sticky;
		position: -webkit-sticky;
		flex: 0 0 100px;
		background: rgb(87, 82, 75);
	}
}
