.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	height: fit-content;
	width: 100%;
	padding: 0 16px;
	padding-top: 16px;
	gap: 32px;
	position: relative;
	max-width: 1440px;

	.v-enter-active,
	.v-leave-active {
		transition: all 0.2s ease;
	}

	.v-enter-from,
	.v-leave-to {
		opacity: 0;
		scale: 0;
		width: 0;
		margin-left: 0;
	}

	&__content {
		flex: 1 1 auto;
	}

	&__nav {
		top: 16px;
		position: sticky;
		position: -webkit-sticky;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
		padding: 12px;
		border-radius: 12px;
		background: #131313;
		z-index: 1;
	}

	&__cat-button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6px 12px;
		background: transparent;
		border: none;
		border-radius: 6px;
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover,
		&.active {
			background: #403c3c;
		}
	}

	&__category-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 16px;
		width: 100%;
	}

	&__cat-title {
		padding: 32px;
		padding-bottom: 0;
		align-self: center;
		text-align: center;
		font-size: 36px;
		line-height: 1.4em;
		width: 100%;
		color: #fff;
	}

	&__cat-desc {
		padding-inline: 32px;
		align-self: center;
		text-align: center;
		font-size: 16px;
		line-height: 1.4em;
		width: 100%;
		color: #fff;
	}

	&__items {
		margin-top: 16px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		width: 100%;
		gap: 16px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid #403c3c;
		border-radius: 6px;
		flex: 0 0 32%;
		padding: 16px;
		background-color: #0f0f0f;
		color: #fff;
	}

	&__item-image {
		width: auto;
		height: 200px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px;
		}
	}

	&__item-name {
		font-size: 18px;
		line-height: 1.4em;
		font-weight: 500;
		margin-top: 32px;
	}

	&__item-separator {
		width: 100%;
		height: 1px;
		background: #403c3c;
		margin-block: 8px 16px;
	}

	&__item-desc {
		font-size: 16px;
		line-height: 1.4em;
		text-align: center;
	}

	&__item-price-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 32px;
		width: 100%;
	}

	&__item-price-controls {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: auto;
		position: relative;
		width: 100%;

		&.additional-price {
			padding-top: 32px;
		}
	}

	&__item-price-portion {
		position: absolute;
		text-align: center;
		width: 100%;
		top: 16px;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__item-price {
		font-size: 22px;
		line-height: 1.4em;
		font-weight: 500;
		align-self: center;
		color: #ee344b;
	}

	&__amount-controls {
		margin-left: 16px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 4px;
		cursor: pointer;

		svg {
			transition: all 0.2s;
			padding: 4px;
			border: 1px solid #403c3c;
			border-radius: 2px;
		}
	}

	&__item-amount-plus:hover {
		border-color: #00c853;
	}

	&__item-amount-minus:hover {
		border-color: #ee344b;
	}

	&__item-add-buttons {
		margin-top: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 16px;
	}

	&__item-add-button {
		flex: 1 1 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6px 6px;
		border-radius: 4px;
		background: #ee344b;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.4em;
		position: relative;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover {
			background: #f51c35;
		}

		span {
			position: absolute;
			top: 0;
			right: 50%;
			transform: translate(50%, -50%);
			padding: 3px 6px;
			background: #403c3c;
			border-radius: 4px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 400;
			font-size: 12px;
			line-height: 1em;
			letter-spacing: 0.04em;
			color: #ffffff;
		}
	}

	&__right-bar {
		top: 16px;
		position: sticky;
		position: -webkit-sticky;
		flex: 0 0 300px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 16px;
		color: #fff;
	}

	&__restaurant {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		gap: 6px;
		padding: 12px;
		border-radius: 12px;
		background: #131313;
	}

	&__restaurant-name {
		font-size: 18px;
		line-height: 1.4em;
		font-weight: 500;
	}

	&__restaurant-address {
		font-size: 16px;
		line-height: 1.4em;
		font-weight: 400;
	}

	&__restaurant-status {
		font-size: 12px;
		line-height: 1.4em;
		font-weight: 400;
		display: flex;
		align-items: center;
		gap: 6px;

		&.closed {
			color: #ee344b;

			&::before {
				background: #ee344b;
			}
		}

		&.open {
			color: #00c853;

			&::before {
				background: #00c853;
			}
		}

		&::before {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 100px;
			background: #ee344b;
		}
	}

	.notepad {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		padding: 12px;
		border-radius: 12px;
		background: #131313;

		.v-enter-active,
		.v-leave-active {
			transition: opacity 0.5s ease;
		}

		.v-enter-from,
		.v-leave-to {
			opacity: 0;
		}

		&__header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&.empty {
				border-bottom: 1px solid #403c3c;
			}
		}

		&__header-title {
			font-size: 18px;
			line-height: 1.4em;
			font-weight: 500;
		}

		&__header-dropdown {
			display: flex !important;
			width: fit-content;
			justify-content: flex-end;
			gap: 12px;

			.v-selection-control {
				min-height: unset;
				display: flex;
				gap: 6px;
			}

			.v-switch__track {
				background: #fff;
			}
			.v-label {
				font-size: 14px;
				line-height: 1.4em;
				font-weight: 400;
				color: #fff;
				order: 1;
			}
			.v-selection-control__wrapper {
				order: 2;
			}
			.v-switch__track {
				height: 10px;
			}

			.v-selection-control__input,
			.v-switch__thumb {
				height: 16px;
				width: 16px;
			}
			.v-switch__track {
				width: 25px;
			}
		}

		&__empty {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			gap: 12px;
		}

		&__empty-icon {
			height: 50px;
			width: auto;
			margin-top: 32px;

			svg {
				height: 100%;
				width: auto;
				path {
					fill: #fff;
				}
			}
		}

		&__empty-desc {
			font-size: 12px;
			line-height: 1.4em;
			font-weight: 500;
			width: 100%;
			text-align: center;
		}

		&__items {
			padding-block: 16px;
			border-bottom: 1px solid #403c3c;
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 6px;
		}

		&__item {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
		}

		&__item-row {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		&__item-amount,
		&__item-name,
		&__item-price {
			flex-shrink: 0;
			font-size: 14px;
			line-height: 1.4em;
			font-weight: 400;
		}

		&__item-price {
			margin-left: auto;
		}

		&__item-category {
			flex-shrink: 0;
			font-size: 12px;
			line-height: 1.4em;
			font-weight: 400;
			color: #ee344b;
		}

		&__item-portion {
			flex-shrink: 0;
			font-size: 10px;
			line-height: 1.2em;
			font-weight: 400;
			padding: 2px 4px;
			color: #fff;
			font-weight: 700;
			border-radius: 4px;
			background-color: #ee344b;
			margin-left: 4px;
		}

		&__amount-controls {
			margin-left: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 4px;
			cursor: pointer;

			svg {
				transition: all 0.2s;
				padding: 2px;
				border: 1px solid #403c3c;
				border-radius: 2px;
			}
		}

		&__item-amount-plus:hover {
			border-color: #00c853;
		}

		&__item-amount-minus:hover {
			border-color: #ee344b;
		}

		&__summary {
			padding-top: 8px;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 16px;
		}

		&__sum-box {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&.center {
				flex-direction: column;
				justify-content: center;
				gap: 6px;
			}
		}

		&__sum-box-title,
		&__sum-box-price {
			font-size: 14px;
			line-height: 1.4em;
			font-weight: 500;

			&.total {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px 12px;
				border-radius: 4px;
				width: 100%;
				background: #ee344b;
				font-size: 18px;
				font-weight: 500;
				line-height: 1.4em;
				position: relative;
				pointer-events: none;
				transition: all 0.2s ease-in-out;
			}
		}
	}
}
