.navigation {
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;

	& &__header-icon {
		width: 300px;
		height: auto;
		margin-top: 25px;
		z-index: 2;
	}

	& &__wrapper {
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	& &__menu {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}

	& &__menu-item {
		flex: 0 0 calc(100vw / 4);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		-webkit-transition: background-color 0.4s
			cubic-bezier(0.4, 0.01, 0.165, 0.99);
		transition: background-color 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
		color: #fff;
		gap: 16px;
		position: relative;

		&:hover {
			background-color: rgba(0, 0, 0, .5);

			.navigation__menu-desc {
				opacity: 1;
				top: 0;
			}

			.navigation__menu-bottom-box {
				bottom: 50px;
			}
		}
	}

	& &__menu-header {
		font-size: 32px;
		font-weight: 500;
		line-height: 1.4em;
		color: #fff
	}

	& &__menu-desc {
		font-size: 16px;
		line-height: 1.2em;
		padding: 6px 12px;
		background-color: rgba(238, 52, 75, 0.8);
		border-radius: 100px;
		position: relative;
		top: -40px;
		opacity: 0;
		transition: all 0.4s;
	}

	& &__menu-bottom-box {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 12px;
		position: absolute;
		bottom: -100px;
		transition: all 0.4s;
	}

	& &__menu-bottom-icon {
		width: 30px;
		height: auto;

		&.larger {
			width: 35px;
		}

		svg {
			width: 100%;
			height: auto;
		}
	}

	& &__menu-bottom-desc {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2em;
		color: #ee344b;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;

		span {
			font-weight: 500;
			color: #fff;
		}
	}

	

	
}
