@mixin black-scrollbar(
	$width: 8px,
	$scrollbar-color: #ee344b,
	$background-color: rgba(33, 33, 33, 0.1),
	$margin-top: 0px,
	$margin-bottom: 0px,
	$border: 5px
) {
	&::-webkit-scrollbar {
		width: $width;
	}

	&::-webkit-scrollbar-track {
		margin-top: $margin-top;
		margin-bottom: $margin-bottom;
		background-color: $background-color;
		border-radius: $border;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $scrollbar-color;
		border-radius: $border;
	}
}
