.news {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: fit-content;
	width: 100%;
	position: relative;

	&__content {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		display: flex;
		justify-content: center;
	}

	&__content-wrapper {
		max-width: 1440px;
		width: 100%;
		padding-block: 72px;
		gap: 32px;
		display: flex;
		gap: 32px;
		flex-direction: column;
	}

	// &__content {
	// 	width: 100%;
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: flex-start;
	// 	align-items: center;
	// 	gap: 86px;
	// }
}
